<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <title>Hello CORS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script th:src="@{/exampleJ.js}"></script>
    </head>
</head>
<body>

<div>
    <table id="entityTable">
        <tr>
            <th>id</th>
            <th>message</th>
        </tr>
    </table>
</div>


</body>
</html>